required-version = "0.1.1"

select = ["F", "E", "B", "Q"]
tab-size = 4
line-length = 120

task-tags = ["TODO", "FIXME", "HACK"]

src = ["src"]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
respect-gitignore = true

target-version = "py312"

[per-file-ignores]
"__init__.py" = ["F401", "F403"]
"constants.py" = ["F841"]

[format]
indent-style = "space"

[flake8-annotations]
allow-star-arg-any = true
